:root {
  /* ========== LIGHT THEME ========== */

  /* 🔵 Primary (Blue) Colors */
  --bg-color-primary: var(--gray-1);
  --bg-color-secondary: var(--blue-2);

  --bg-color-subtle-primay: var(--gray-2);
  --bg-color-subtle-secondary: var(--blue-2);

  --bg-color-element-primary: var(--gray-3);
  --bg-color-element-hover-primary: var(--gray-4);
  --bg-color-element-active-primary: var(--gray-5);

  --bg-color-element-secondary: var(--blue-3);
  --bg-color-element-hover-secondary: var(--blue-4);
  --bg-color-element-active-secondary: var(--blue-5);

  /* Borders */
  --border-color-subtle-primary: var(--gray-6);
  --border-color-primary: var(--gray-7);
  --border-color-hover-primary: var(--gray-8);

  --border-color-subtle-secondary: var(--blue-6);
  --border-color-secondary: var(--blue-7);
  --border-color-hover-secondary: var(--blue-8);

  /* Solid Backgrounds */
  --bg-color-solid-primary: var(--gray-9);
  --bg-color-solid-hover-primary: var(--gray-10);

  --bg-color-solid-secondary: var(--blue-9);
  --bg-color-solid-hover-secondary: var(--blue-10);

  /* ⚫ Text Colors */
  --text-color-light-primary: var(--gray-11);
  --text-color-dark-primary: var(--gray-12);

  --text-color-light-secondary: var(--blue-11);
  --text-color-dark-secondary: var(--blue-12);

  /* Shadows */
  --shadow-sm-primary: 0px 1px 2px var(--border-color-subtle-primary),
    0px 1px 3px var(--border-color-subtle-primary);
  --shadow-md-primary: 0px 4px 6px var(--border-color-subtle-primary),
    0px 2px 4px var(--border-color-subtle-primary);
  --shadow-lg-primary: 0px 10px 20px var(--border-color-subtle-primary),
    0px 4px 8px var(--border-color-subtle-primary);

  --shadow-sm-secondary: 0px 1px 2px var(--border-color-subtle-secondary),
    0px 1px 3px var(--border-color-subtle-secondary);
  --shadow-md-secondary: 0px 4px 6px var(--border-color-subtle-secondary),
    0px 2px 4px var(--border-color-subtle-secondary);
  --shadow-lg-secondary: 0px 10px 20px var(--border-color-subtle-secondary),
    0px 4px 8px var(--border-color-subtle-secondary);

  --contrast-primary: #ffffff;
  --surface-primary: #ffffffcc;
  --indicator-primary: #8f8c8c;
  --track-primary: #8f8c8c;

  --contrast-secondary: #fff;
  --surface-secondary: #eff8ffcc;
  --indicator-secondary: #0d27ab;
  --track-secondary: #0d27ab;

  --border-radius: 8px;
  --color-danger: var(--red-11)
}

/* ========== DARK THEME ========== */
.dark-theme {
  --color-background: var(--blue-12);
  --color-subtle-bg: var(--blue-11);

  --color-ui-element-bg: var(--blue-10);
  --color-ui-element-bg-hover: var(--blue-9);
  --color-ui-element-bg-active: var(--blue-8);

  /* Borders */
  --color-border-subtle: var(--blue-7);
  --color-border: var(--blue-6);
  --color-border-hover: var(--blue-5);

  /* Solid Backgrounds */
  --color-solid-bg: var(--blue-4);
  --color-solid-bg-hover: var(--blue-3);

  /* ⚫ Text (Gray) Colors */
  --color-text-muted: var(--gray-3);
  --color-text: var(--gray-1);

  /* Shadows */
  --shadow-sm: 0px 1px 3px rgba(255, 255, 255, 0.1);
  --shadow-md: 0px 3px 6px rgba(255, 255, 255, 0.15);
  --shadow-lg: 0px 6px 12px rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color-light-primary);
  font-family: var(--font-primary);
}

body * {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}
